h1, h2, p, table, tr, td {
	text-align: center;
	border: 1px solid black;
}

table {
	margin-left: 600px;
}
h1 {
	 font-size: 60px;
}
td {
	 font-size: 30px;
}
.login {
	text-align: right;
	font-size: 30px;
	margin-right: 88px;
	border: 1px solid black;
	margin-left: 1700px;
	background-color: #67f5ab;
}